<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-content>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <p>
        <mat-form-field>
          <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email address</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput name="password" type="password" ngModel placeholder="Password" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
      </p>
      <div class="button">
        <button mat-raised-button color="warn" type="submit" *ngIf="!isLoading">Login</button>
        <button mat-stroked-button color="primary" [routerLink]="['/signup']">Signup</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
