<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <button mat-menu-item [matMenuTriggerFor]="floating">Floating<mat-icon>arrow_right</mat-icon></button>
        <mat-menu #floating="matMenu">
          <button mat-menu-item [routerLink]="['/floating']" routerLinkActive="router-link-active">What is floating?</button>
          <button mat-menu-item [routerLink]="['/benefits']" routerLinkActive="router-link-active">Benefits</button>
          <button mat-menu-item [routerLink]="['/pods']" routerLinkActive="router-link-active">Our float pods</button>
          <button mat-menu-item [routerLink]="['/expect']" routerLinkActive="router-link-active">What to expect</button>
          <button mat-menu-item [routerLink]="['/price']" routerLinkActive="router-link-active">Prices</button>
          <button mat-menu-item [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</button>
        </mat-menu>

        <mat-divider></mat-divider>

        <button mat-menu-item [matMenuTriggerFor]="infraredsauna">Infra Red Sauna<mat-icon>arrow_right</mat-icon></button>
        <mat-menu #infraredsauna="matMenu">
          <button mat-menu-item [routerLink]="['/infra-red-sauna']" routerLinkActive="router-link-active">What is an infra red sauna?</button>
          <button mat-menu-item>Benefits</button>
          <button mat-menu-item>Our sauna's</button>
          <button mat-menu-item>What to expect</button>
          <button mat-menu-item>Prices</button>
          <button mat-menu-item>FAQ</button>
        </mat-menu>

        <mat-divider></mat-divider>

        <button mat-menu-item [matMenuTriggerFor]="treatments">Treatments<mat-icon>arrow_right</mat-icon></button>
        <mat-menu #treatments="matMenu">
          <button mat-menu-item>Swedish massage</button>
          <button mat-menu-item>Indian head massage</button>
          <button mat-menu-item>Reflexology</button>
          <button mat-menu-item>Hopi - ear candling</button>
          <button mat-menu-item>Reiki</button>
        </mat-menu>

        <mat-divider></mat-divider>

        <button mat-menu-item [matMenuTriggerFor]="meditation">Meditation<mat-icon>arrow_right</mat-icon></button>
        <mat-menu #meditation="matMenu">
          <button mat-menu-item>Yoga Nidra</button>
          <button mat-menu-item>What to expect</button>
          <button mat-menu-item>Prices</button>
          <button mat-menu-item>FAQ</button>
        </mat-menu>

        <mat-divider></mat-divider>

        <button mat-menu-item [matMenuTriggerFor]="retreats">Retreats<mat-icon>arrow_right</mat-icon></button>
        <mat-menu #retreats="matMenu">
          <button mat-menu-item>#</button>
          <button mat-menu-item>#</button>
          <button mat-menu-item>#</button>
          <button mat-menu-item>#</button>
        </mat-menu>

        <mat-divider></mat-divider>

        <button mat-menu-item [matMenuTriggerFor]="pregnancy">Pregnancy<mat-icon>arrow_right</mat-icon></button>
        <mat-menu #pregnancy="matMenu">
          <button mat-menu-item>#</button>
          <button mat-menu-item>#</button>
          <button mat-menu-item>#</button>
          <button mat-menu-item>#</button>
        </mat-menu>

        <mat-divider></mat-divider>

        <mat-list-item *ngIf="!userIsAuthenticated">
          <button mat-button [routerLink]="['/login']" routerLinkActive="mat-accent">Login</button>
        </mat-list-item>
        <mat-list-item *ngIf="!userIsAuthenticated">
          <button mat-button [routerLink]="['/signup']" routerLinkActive="mat-accent">Signup</button>
        </mat-list-item>
        <mat-list-item *ngIf="userIsAuthenticated">
          <button mat-button>Logout</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button [routerLink]="['/booking']" color="warn">Book a Float</button>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rest</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
