<mat-nav-list class="sidenav-list">

  <a mat-list-item [matMenuTriggerFor]="floating">Floating<mat-icon>arrow_drop_down</mat-icon></a>
  <mat-menu #floating="matMenu">
    <button mat-menu-item routerLink="/floating" routerLinkActive="router-link-active" (click)="onToggleClose()">What is floating?</button>
    <button mat-menu-item>Benefits</button>
    <button mat-menu-item>Our float pods</button>
    <button mat-menu-item>What to expect</button>
    <button mat-menu-item>Prices</button>
    <button mat-menu-item>FAQ</button>
  </mat-menu>

  <a mat-list-item [matMenuTriggerFor]="infraredsauna">Infra Red Sauna<mat-icon>arrow_drop_down</mat-icon></a>
  <mat-menu #infraredsauna="matMenu">
    <button mat-menu-item [routerLink]="['/infra-red-sauna']" routerLinkActive="router-link-active">What is an infra red sauna?</button>
    <button mat-menu-item>Benefits</button>
    <button mat-menu-item>Our sauna's</button>
    <button mat-menu-item>What to expect</button>
    <button mat-menu-item>Prices</button>
    <button mat-menu-item>FAQ</button>
  </mat-menu>

  <a mat-list-item [matMenuTriggerFor]="treatments">Treatments<mat-icon>arrow_drop_down</mat-icon></a>
  <mat-menu #treatments="matMenu">
    <button mat-menu-item>Swedish massage</button>
    <button mat-menu-item>Indian head massage</button>
    <button mat-menu-item>Reflexology</button>
    <button mat-menu-item>Hopi - ear candling</button>
    <button mat-menu-item>Reiki</button>
  </mat-menu>

  <a mat-list-item [matMenuTriggerFor]="meditation">Meditation<mat-icon>arrow_drop_down</mat-icon></a>
  <mat-menu #meditation="matMenu">
    <button mat-menu-item>Yoga Nidra</button>
    <button mat-menu-item>What to expect</button>
    <button mat-menu-item>Prices</button>
    <button mat-menu-item>FAQ</button>
  </mat-menu>

  <a mat-list-item [matMenuTriggerFor]="retreats">Retreats<mat-icon>arrow_drop_down</mat-icon></a>
  <mat-menu #retreats="matMenu">
    <button mat-menu-item>#</button>
    <button mat-menu-item>#</button>
    <button mat-menu-item>#</button>
    <button mat-menu-item>#</button>
  </mat-menu>

  <a mat-list-item [matMenuTriggerFor]="pregnancy">Pregnancy<mat-icon>arrow_drop_down</mat-icon></a>
  <mat-menu #pregnancy="matMenu">
    <button mat-menu-item>#</button>
    <button mat-menu-item>#</button>
    <button mat-menu-item>#</button>
    <button mat-menu-item>#</button>
  </mat-menu>

  <mat-list-item></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item></mat-list-item>

  <div *ngIf="!userIsAuthenticated">
    <a mat-list-item routerLink="/login" (click)="onToggleClose()">
      <mat-icon>input</mat-icon>
      <span>Login</span>
    </a>
  </div>

  <div *ngIf="!userIsAuthenticated">
    <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>
      <span>Signup</span>
    </a>
  </div>

  <div *ngIf="userIsAuthenticated">
    <a mat-list-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
  </div>

  <mat-list-item></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item></mat-list-item>

  <a mat-list-item>
    <button mat-raised-button [routerLink]="['/booking']" color="warn" (click)="isUserLoggedIn()">Book a Float</button>
  </a>

</mat-nav-list>
