<mat-card>
  <div class="center-section">
    <h1>What is floating?</h1>
    <p>
        Floating heals the body and mind, and provides the perfect antidote to a busy, city lifestyle. Floatworks has provided an unparalleled floating experience to tens of thousands of people for over 25 years. Come and have the perfect float in our centre in Angel or Vauxhall.
    </p>
    <button mat-raised-button routerLink="/booking" color="warn">Book a Float</button>
  </div>
</mat-card>

<mat-card>
  <div class="center-section">
    <h1>The benefits of floating</h1>
    <p>
        Floating is scientifically proven to increase our mental and physical wellbeing in as little as an hour. It can leave us feeling more happy and relaxed, with fewer aches and pains, and confident of a better night’s sleep. It can help us gain a better perspective on things, too. We hear day in, day out, from our customers that it’s transformed many aspects of their lives. That’s why we started Floatworks, and that’s why people keep coming back.
    </p>
    <p>

    </p>
  </div>
</mat-card>

<mat-card>
  <div class="center-section">
    <h1>Our float pods</h1>
    <p>
        Floating is scientifically proven to increase our mental and physical wellbeing in as little as an hour. It can leave us feeling more happy and relaxed, with fewer aches and pains, and confident of a better night’s sleep. It can help us gain a better perspective on things, too. We hear day in, day out, from our customers that it’s transformed many aspects of their lives. That’s why we started Floatworks, and that’s why people keep coming back.
    </p>
    <p>

    </p>
  </div>
</mat-card>

<mat-card>
  <div class="center-section">
    <h1>What to expect</h1>
    <p>
        Floating is scientifically proven to increase our mental and physical wellbeing in as little as an hour. It can leave us feeling more happy and relaxed, with fewer aches and pains, and confident of a better night’s sleep. It can help us gain a better perspective on things, too. We hear day in, day out, from our customers that it’s transformed many aspects of their lives. That’s why we started Floatworks, and that’s why people keep coming back.
    </p>
    <p>

    </p>
  </div>
</mat-card>

<mat-card>
  <div class="center-section">
    <h1>Prices</h1>
    <p>
        Floating is scientifically proven to increase our mental and physical wellbeing in as little as an hour. It can leave us feeling more happy and relaxed, with fewer aches and pains, and confident of a better night’s sleep. It can help us gain a better perspective on things, too. We hear day in, day out, from our customers that it’s transformed many aspects of their lives. That’s why we started Floatworks, and that’s why people keep coming back.
    </p>
    <p>

    </p>
  </div>
</mat-card>

<mat-card>
  <div class="center-section">
    <h1>FAQ</h1>
    <p>
        Floating is scientifically proven to increase our mental and physical wellbeing in as little as an hour. It can leave us feeling more happy and relaxed, with fewer aches and pains, and confident of a better night’s sleep. It can help us gain a better perspective on things, too. We hear day in, day out, from our customers that it’s transformed many aspects of their lives. That’s why we started Floatworks, and that’s why people keep coming back.
    </p>
    <p>

    </p>
  </div>
</mat-card>
